@charset "UTF-8";
:root {
  --exito: #3ab65c;
  --error: #bf333b;
  --exito-hover: #2d8a46;
  --error-hover: #962a31;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.button {
  position: relative;
  cursor: pointer;
}
.button--sm {
  background-color: transparent;
  border: none;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button__section a {
  color: rgb(13, 4, 4);
  padding: 0.3em calc(0.3em * 0.4);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
}
.button__section a__text {
  font-family: proxima-nova, monospace;
  transform: translate3d(0, 0.3em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.button__section a:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: calc(0.3em * 0.4);
  right: calc(0.3em * 0.4);
  height: 3px;
  background: #0e8008;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.button__section .line {
  position: absolute;
  background: #0e8008;
}
.button__section .line.-right, .button__section .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}
.button__section .line.-top, .button__section .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
.button__section .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.button__section .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.button__section .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.button__section .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}
.button__section a:hover .text,
.button__section a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.button__section a:hover:after,
.button__section a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.button__section a:hover .line,
.button__section a:active .line {
  transform: scale3d(1, 1, 1);
}
.button__section a:hover .line.-right,
.button__section a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
.button__section a:hover .line.-top,
.button__section a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
.button__section a:hover .line.-left,
.button__section a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
.button__section a:hover .line.-bottom,
.button__section a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}
.button--add {
  margin: 25px 3px 1px 3px;
  transition: all 150ms ease;
}
.button--add:hover, .button--add:active {
  border-color: rgb(10, 175, 10);
  color: rgb(10, 176, 10);
}
.button--remove {
  transition: all 150ms ease;
  margin: 25px 0px 0px 3px;
}
.button--remove:hover, .button--remove:active {
  border-color: red;
  color: red;
}
.button--tooltip {
  visibility: hidden;
  width: 80px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -120%;
  opacity: 0;
  transition: opacity 0.3s;
}
.button:hover .button--tooltip {
  visibility: visible;
  opacity: 1;
}

.card {
  padding: 0.6vw;
}
.card--product {
  overflow: hidden;
  text-align: center;
  border-radius: 0.5vw;
  background-color: rgba(245, 245, 245, 0.188);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  cursor: default;
  transition: all 400ms ease;
}
.card--product:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-0.5%);
}
.card__image {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.card__md {
  width: 230px;
}
.card__title {
  color: green;
}
.card__price {
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: blue;
}
.card__price::before {
  content: "$ ";
}
.card__description {
  font-size: 15px;
}
.card__description ul li {
  font-size: 15px;
}
.card__counter {
  font-size: 20px;
}

.slider {
  position: relative;
  height: auto;
  width: calc((100% - 1vw) * 3);
  display: flex;
  animation-name: move-slide;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  position: start;
  color: green;
  font-size: 2rem;
}
.slider__description {
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
  background-color: blue;
  padding: 0.5em;
}
.slider__image {
  width: 160px;
  height: auto;
  object-fit: cover;
  object-position: center;
  padding: 1vw;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  55% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

body {
  display: grid;
  grid-template-areas: "header" "navbar" "main" "footer";
  /* Puedes ajustar la altura según tus necesidades */
}

.footer {
  grid-area: footer;
  font-size: 17px;
  height: 15vh;
  gap: 1vw;
  padding: 1vw;
  background: linear-gradient(to top, rgba(8, 149, 8, 0.8), rgba(144, 238, 144, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item {
  color: black;
  text-decoration: underline;
  margin: 1vw;
}
.footer__item:hover {
  color: rgba(0, 0, 0, 0.509);
  text-decoration: none;
}
.footer__icon {
  margin: 0.3vw;
  cursor: pointer;
}

@font-face {
  font-family: France;
  font-family: futbol;
  font-family: Selcouth;
  src: url("../../fonts/France.ttf");
  src: url("../../fonts/futbol.ttf");
  src: url("../../fonts/Selcouth.ttf");
}
.header {
  grid-area: header;
  background: linear-gradient(to bottom, rgba(0, 128, 0, 0.945), rgba(0, 128, 0, 0));
  height: 14vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 7px solid;
  border-image: linear-gradient(to right, greenyellow, white, greenyellow);
  border-image-slice: 1;
}

.header__logo {
  width: 17em;
  height: 8em;
}

.header__title {
  font-family: "Selcouth";
  position: absolute;
  color: whitesmoke;
  top: 44px;
  left: 4.5em;
  font-size: 30px;
  letter-spacing: 3px;
}

@font-face {
  font-family: France;
  font-family: futbol;
  font-family: Selcouth;
  src: url("../../fonts/France.ttf");
  src: url("../../fonts/futbol.ttf");
  src: url("../../fonts/Selcouth.ttf");
}
.section--form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(49, 147, 7, 0.3058823529);
  box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.6);
}
.section--form label {
  display: block;
  margin-bottom: 8px;
}
.section--form input[type=text],
.section--form input[type=number],
.section--form textarea,
.section--form input[type=file] {
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
  box-sizing: border-box;
}
.section--form input[type=checkbox] {
  margin-bottom: 12px;
}
.section--form button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.section--form button:hover {
  background-color: #45a049;
}

.main {
  grid-area: main;
  padding: 0.5vw;
  width: calc(100% - 1vw);
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
}
.main .section__h3 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "Selcouth";
  color: green;
  letter-spacing: 2px;
}
.main .section__h3 span {
  font-family: "Selcouth";
  color: black;
}
.main .section__form {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}
.main .section__form--input {
  font-family: proxima-nova, monospace;
  height: 1.7em;
  width: 15em;
}
.main .section__form--input::placeholder {
  text-align: end;
  padding-right: 2px;
}
.main .section__label {
  font-family: proxima-nova, monospace;
}
.main .section--product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
}
.main .section--about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 2vw;
}
.main .section--about--vision {
  padding: 1vw;
}
.main .section--about--vision p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}
.main .section--about--vision ol {
  margin-top: 10px;
  padding-left: 20px;
  list-style-type: square;
}
.main .section--about--vision ol li {
  font-size: 20px;
  color: #888;
}
.main .section--about--vision video {
  width: 50%;
  height: auto;
  margin-top: 10px;
}
.main .section--about--vision:nth-child(2) p {
  font-weight: bold;
}
.main .section--about h3 {
  font-size: 50px;
  font-family: "Selcouth";
  color: green;
}
.main .section--about h3 span {
  font-family: "Selcouth";
  color: black;
}
.main .section__contact {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.main .section__contact .logo {
  text-align: center;
  font-size: 3em;
  font-family: "Selcouth";
}
.main .section__contact .logo span {
  color: green;
  font-family: "Selcouth";
}
.main .section__contact > * {
  padding: 1em;
}
.main .section__contact .contact-info {
  background-color: rgba(49, 147, 7, 0.3058823529);
  padding: 1em;
}
.main .section__contact .contact-info ul {
  list-style: none;
  padding: 0;
}
.main .section__contact .contact-info h4, .main .section__contact .contact-info ul, .main .section__contact .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}
.main .section__contact .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .section__contact .contact-form form form label {
  display: block;
}
.main .section__contact .contact-form form button, .main .section__contact .contact-form form input, .main .section__contact .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #0b0a0a;
  border-bottom: 1px solid rgba(49, 147, 7, 0.3058823529);
}
.main .section__contact .contact-form form p {
  margin: 0;
  padding: 1em;
}
.main .section__contact .contact-form form .block {
  grid-column: 1/3;
}
.main .section__contact .contact-form form button {
  background: rgba(49, 147, 7, 0.3058823529);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.main .section__contact .contact-form button:hover, .main .section__contact .contact-form button:focus {
  background: rgba(37, 99, 10, 0.8078431373);
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.main .section textarea {
  resize: vertical;
}
.main .contenedor-toast {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
.main .toast {
  background: var(--exito);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  animation-name: apertura;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  position: relative;
}
.main .toast.exito {
  background: var(--exito);
}
.main .toast.error {
  background: var(--error);
}
.main .toast .contenido {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  gap: 15px;
  padding: 15px;
}
.main .toast .icono {
  color: rgba(0, 0, 0, 0.4);
}
.main .toast .titulo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.main .toast .btn-cerrar {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: 0px 5px;
  transition: 0.3s ease all;
}
.main .toast .btn-cerrar:hover {
  background: rgba(0, 0, 0, 0.3);
}
.main .toast .btn-cerrar .icono {
  width: 20px;
  height: 20px;
  color: #fff;
}
@keyframes apertura {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.main .toast.cerrando {
  animation-name: cierre;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes cierre {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 40px));
  }
}
.main .toast.autoCierre::after {
  content: "";
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  animation-name: autoCierre;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes autoCierre {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: end;
}

.navbar__menu {
  display: flex;
}

.navbar__item {
  font-size: 20px;
  margin-right: 1.5em;
  transition-property: color;
  color: black;
  text-decoration: none;
}
.navbar__item:hover {
  color: whitesmoke;
  transition-duration: 0.4s;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.navbar__item--active {
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=main.css.map */