@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@font-face {
    font-family: France;
    font-family: futbol;
    font-family: Selcouth;
    src: url("../../fonts/France.ttf");
    src: url("../../fonts/futbol.ttf");
    src: url("../../fonts/Selcouth.ttf");
}

.header {
    grid-area: header;
    // background-color: green;
    background: linear-gradient(to bottom, rgba(0, 128, 0, 0.945), rgba(0, 128, 0, 0));
    height: 14vh;
    display: flex;
    justify-content: space-between;

    border-bottom: 7px solid;
    border-image: linear-gradient(to right, greenyellow, white, greenyellow);
    border-image-slice: 1;
}

.header__logo{
    width: 17em;
    height: 8em;
}

.header__title {
    font-family: "Selcouth";
    position: absolute;
    color: whitesmoke;
    top: 44px;
    left: 4.5em;
    font-size: 30px;
    letter-spacing: 3px;
}